<div class="row">
  <div class="mt-5 py-3 d-flex  card">
    <div class="text-lg-center"><h2>Account to Account Transfer</h2></div>
    <div class="card-body">
      <form [formGroup] = "transferFrom" (submit)="onSubmit()" )>
      <div class="form-group mb-3">
        <label for="sorceAccount">AccountNumber</label>
        <input type="text" class="form-control" id="sorceAccount" name="sourceAccount"  placeholder="Account Number" />
        <input type="text" class="form-control" id="destinationAccount" name="destinationAccount"  placeholder="Account Number" />
      </div>
      <div class="form-group mb-3">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" name ="amount" placeholder="Amount" />
      </div>
      <div class="form-group mb-3">
        <label for="desc">Description</label>
        <input type="text" class="form-control" id="desc" name="description" placeholder="Description" />
      </div>
      <button type="submit" class="btn btn-outline-primary btn-lg w-25 float-lg-start">Transfer</button>
      </form>
    </div>
  </div>
</div>
