<div class="row ">

  <div class="mt-5 py-3 d-flex align-items-center card mb-5">
    <div class="text-lg-center d-flex d-flex-between"><h2 class="float-md-start"></h2>
      <a class="float-md-end btn btn-outline-secondary" (click)="requestCheckBook()">Click Here To Request Check Book</a></div>
    <div class="card-body">
      <div *ngIf="message" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          {{message}}
        </div>
      </div>

      <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
        <tr>
          <th>ID</th>
          <th>CustomerName</th>
          <th>Approved</th>
          <th>Collected</th>
          <th>CreatedDate</th>
          <th>CollectedDate</th>
          <th>Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let checkBookRequest of checkBookRequests">
          <td>{{ checkBookRequest.id}}</td>
          <td>{{ checkBookRequest.customerName }}</td>
          <td class="text-center"> <i *ngIf="checkBookRequest.approved" class="fa fa-check-circle btn-info"></i><i *ngIf="!checkBookRequest.approved"i class="fa fa-times-circle btn-danger"></i></td>
          <td class="text-center"> <i *ngIf="checkBookRequest.collected" class="fa fa-check-circle btn-info"></i><i *ngIf="!checkBookRequest.collected"i class="fa fa-times-circle btn-danger"></i></td>
          <td>{{ checkBookRequest.createdDate }}</td>
          <td>{{ checkBookRequest.collectedDate }}</td>
          <td><a routerLink="{{'/check-book-request?id=' + checkBookRequest.id}}"><i class="fa fa-eye"></i></a></td>
        </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
